{% load static %}
<!-- Sidebar wrapper starts -->
        <nav id="sidebar" class="sidebar-wrapper">

          <!-- Brand container starts -->
          <div class="brand-container d-flex align-items-center justify-content-between">

            <!-- App brand starts -->
            <div class="app-brand ms-3">
              <a href="{% url 'admin' %}" class="d-flex align-items-center text-decoration-none">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded" style="width: 35px; height: 35px; font-weight: bold; font-size: 20px;">
                  R
                </div>
                <h4 class="mb-0 ms-2 text-primary" style="font-weight: 700; letter-spacing: 1px; line-height: 1;">RECAPEN</h4>
              </a>
            </div>
            <!-- App brand ends -->

            <!-- Pin sidebar starts -->
            <button type="button" class="pin-sidebar me-3">
              <i class="ri-menu-line"></i>
            </button>
            <!-- Pin sidebar ends -->

          </div>
          <!-- Brand container ends -->

          <!-- Sidebar profile starts -->
          <div class="sidebar-profile">
            {% if request.user.profile_picture %}
              <img src="{{ request.user.profile_picture.url }}" class="rounded-5" style="object-fit: cover; width: 60px; height: 60px;" alt="Profile Image">
            {% else %}
              <div class="d-flex justify-content-center align-items-center bg-primary-subtle text-primary rounded-5" style="width: 60px; height: 60px;">
                <i class="ri-user-3-line fs-1"></i>
              </div>
            {% endif %}
            <h6 class="mb-1 profile-name text-nowrap text-truncate text-primary">
              {% if request.user.get_full_name %}{{ request.user.get_full_name }}{% else %}{{ request.user.username }}{% endif %}
            </h6>
            <small class="profile-name text-nowrap text-truncate">
              {% if request.user.is_superuser %}Super Admin{% elif request.user.role_type %}{{ request.user.get_role_type_display }}{% else %}Staff{% endif %}
            </small>
          </div>
          <!-- Sidebar profile ends -->

          <!-- Sidebar menu starts -->
          <div class="sidebarMenuScroll">
            <ul class="sidebar-menu">
              <li class="active current-page">
                <a href="{% url 'admin' %}">
                  <i class="ri-home-6-line"></i>
                  <span class="menu-text">Hospital Admin</span>
                </a>
              </li>
              <li>
                <a href="{% url 'medical' %}">
                  <i class="ri-home-smile-2-line"></i>
                  <span class="menu-text">Medical Dashboard</span>
                </a>
              </li>
              <li>
                <a href="{% url 'clinic' %}">
                  <i class="ri-home-5-line"></i>
                  <span class="menu-text">Clinic Dashboard</span>
                </a>
              </li>
              <li>
                <a href="doc-appointments.html">
                  <i class="ri-calendar-2-line"></i>
                  <span class="menu-text">Appointments</span>
                </a>
              </li>
              <li class="treeview">
                <a href="#!">
                  <i class="ri-nurse-line"></i>
                  <span class="menu-text">Staff</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="{% url 'accounts:staff_list' %}">Staff List</a>
                  </li>
                  <li>
                    <a href="{% url 'accounts:staff_create' %}">Add Staff</a>
                  </li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#!">
                  <i class="ri-stethoscope-line"></i>
                  <span class="menu-text">Manage Doctors</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="{% url 'accounts:grid' %}">Doctors Grid</a>
                  </li>
                  <li>
                    <a href="{% url 'accounts:cards' %}">Doctors Cards</a>
                  </li>
                  <li>
                    <a href="{% url 'accounts:create' %}">Add Doctor</a>
                  </li>
                  <li>
                    <a href="{% url 'accounts:dashboard_no_pk' %}">Doctor Dashboard</a>
                  </li>
                  <li>
                    <a href="{% url 'accounts:profile_no_pk' %}">Doctor Profile</a>
                  </li>
                  <li>
                    <a href="{% url 'accounts:edit_no_pk' %}">Edit Doctor</a>
                  </li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#!">
                  <i class="ri-heart-pulse-line"></i>
                  <span class="menu-text">Manage Patients</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="{% url 'patients:list' %}">Patients List</a>
                  </li>
                  <li>
                    <a href="{% url 'patients:diagnosis_list' %}">Patient Diagnosis</a>
                  </li>
                  <li>
                    <a href="{% url 'patients:register' %}">Add Patient</a>
                  </li>
                  <li>
                    <a href="{% url 'patients:my_patients' %}">My Patients</a>
                  </li>
                  <li>
                    <a href="{% url 'patients:dashboard_no_pk' %}">Patient Dashboard</a>
                  </li>
                  <li>
                    <a href="{% url 'patients:profile_no_pk' %}">Patient Profile</a>
                  </li>
                  <li>
                    <a href="{% url 'patients:edit_no_pk' %}">Edit Patient Details</a>
                  </li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#!">
                  <i class="ri-flask-line"></i>
                  <span class="menu-text">Laboratory</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="{% url 'laboratory:lab_dashboard' %}" class="d-flex justify-content-between align-items-center">
                        Pending Orders
                        {% if pending_lab_orders_count > 0 %}
                        <span class="badge bg-danger rounded-pill">{{ pending_lab_orders_count }}</span>
                        {% endif %}
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'laboratory:list' %}">Lab Tests List</a>
                  </li>
                  <li>
                    <a href="{% url 'laboratory:patients_results' %}">Patients Results</a>
                  </li>
                  <li>
                    <a href="{% url 'laboratory:create' %}">Add Test</a>
                  </li>
                  <li>
                    <a href="{% url 'laboratory:edit_no_pk' %}">Edit Test</a>
                  </li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#!">
                  <i class="ri-infrared-thermometer-line"></i>
                  <span class="menu-text">Radiology</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="{% url 'radiology:list' %}">Imaging Tests List</a>
                  </li>
                  <li>
                    <a href="{% url 'radiology:results_list' %}">Enter Results</a>
                  </li>
                  <li>
                    <a href="{% url 'radiology:patients_results' %}">Patients Results</a>
                  </li>
                  <li>
                    <a href="{% url 'radiology:create' %}">Add Test</a>
                  </li>
                  <li>
                    <a href="{% url 'radiology:edit_no_pk' %}">Edit Test</a>
                  </li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#!">
                  <i class="ri-heart-pulse-fill"></i>
                  <span class="menu-text">Cardiology</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="{% url 'cardiology:list' %}">Cardiology Tests List</a>
                  </li>
                  <li>
                    <a href="{% url 'cardiology:results_list' %}">Enter Results</a>
                  </li>
                  <li>
                    <a href="{% url 'cardiology:patients_results' %}">Patients Results</a>
                  </li>
                  <li>
                    <a href="{% url 'cardiology:create' %}">Add Test</a>
                  </li>
                  <li>
                    <a href="{% url 'cardiology:edit_no_pk' %}">Edit Test</a>
                  </li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#!">
                  <i class="ri-dossier-line"></i>
                  <span class="menu-text">Appointments</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="{% url 'appointments:dashboard' %}">Appointments Dashboard</a>
                  </li>
                  <li>
                    <a href="{% url 'appointments:list' %}">Appointments List</a>
                  </li>
                  <li>
                    <a href="{% url 'appointments:book' %}">Book Appointment</a>
                  </li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#!">
                  <i class="ri-building-2-line"></i>
                  <span class="menu-text">Departments</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="{% url 'departments:list' %}">Departments List</a>
                  </li>
                  <li>
                    <a href="{% url 'departments:create' %}">Add Department</a>
                  </li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#!">
                  <i class="ri-medicine-bottle-line"></i>
                  <span class="menu-text">Medications</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="{% url 'medications:inventory_list' %}">Medications List</a>
                  </li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#!">
                  <i class="ri-file-list-3-line"></i>
                  <span class="menu-text">Prescriptions</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="{% url 'clinical:prescription_list' %}">All Prescriptions</a>
                  </li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#!">
                  <i class="ri-store-3-line"></i>
                  <span class="menu-text">Pharmacy</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="{% url 'pharmacy:batch_list' %}">All Batches</a>
                  </li>
                  <li>
                    <a href="{% url 'pharmacy:low_stock_list' %}">Low Stock</a>
                  </li>
                  <li>
                    <a href="{% url 'pharmacy:expiring_soon_list' %}">Expiring Soon</a>
                  </li>
                  <li>
                    <a href="{% url 'pharmacy:expired_list' %}">Expired</a>
                  </li>
                  <li>
                    <a href="{% url 'pharmacy:dispensation_list' %}">Dispensations</a>
                  </li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#!">
                  <i class="ri-secure-payment-line"></i>
                  <span class="menu-text">Accounts</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="income.html">Income</a>
                  </li>
                  <li>
                    <a href="payments.html">Payments</a>
                  </li>
                  <li>
                    <a href="invoices.html">Invoices</a>
                  </li>
                  <li>
                    <a href="invoice-details.html">Invoice Details</a>
                  </li>
                  <li>
                    <a href="create-invoice.html">Create Invoice</a>
                  </li>
                  <li>
                    <a href="expenses.html">Expenses</a>
                  </li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#!">
                  <i class="ri-group-2-line"></i>
                  <span class="menu-text">Human Resources</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="hr-approvals.html">HR Approvals</a>
                  </li>
                  <li>
                    <a href="staff-attendance.html">Attendance</a>
                  </li>
                  <li>
                    <a href="staff-leaves.html">Staff Leaves</a>
                  </li>
                  <li>
                    <a href="staff-holidays.html">Holidays</a>
                  </li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#!">
                  <i class="ri-money-dollar-circle-line"></i>
                  <span class="menu-text">Salaries</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="salaries.html">Salary List</a>
                  </li>
                  <li>
                    <a href="payslip.html">Payslip</a>
                  </li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#!">
                  <i class="ri-hotel-bed-line"></i>
                  <span class="menu-text">Rooms</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="room-statistics.html">Statistics</a>
                  </li>
                  <li>
                    <a href="rooms-allotted.html">Rooms Allotted</a>
                  </li>
                  <li>
                    <a href="rooms-by-dept.html">Rooms By Department</a>
                  </li>
                  <li>
                    <a href="available-rooms.html">Available Rooms</a>
                  </li>
                  <li>
                    <a href="book-room.html">Book Room</a>
                  </li>
                  <li>
                    <a href="add-room.html">Add Room</a>
                  </li>
                  <li>
                    <a href="edit-room.html">Edit Room</a>
                  </li>
                </ul>
              </li>

              <!-- System -->
              <li class="sidebar-menu-divider">System</li>
              <li>
                <a href="{% url 'audit:dashboard' %}">
                  <i class="ri-history-line"></i>
                  <span class="menu-text">Audit Trail</span>
                </a>
              </li>
              <li>
                <a href="{% url 'study_config:dashboard' %}">
                  <i class="ri-settings-4-line"></i>
                  <span class="menu-text">Study Configuration</span>
                </a>
              </li>

            </ul>
          </div>
          <!-- Sidebar menu ends -->

          <!-- Sidebar contact starts -->
          <div class="sidebar-contact">
            <h5 class="mb-1 lh-1 text-nowrap text-truncate">0987654321</h5>
            <p class="fw-light m-0 text-nowrap text-truncate">Customer Support</p>
            <i class="ri-cellphone-line"></i>
          </div>
          <!-- Sidebar contact ends -->

        </nav>
        <!-- Sidebar wrapper ends -->