{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="app-body">

            <!-- Row starts -->
            <div class="row gx-3">
              <div class="col-sm-12">
                <div class="card mb-3">
                  <div class="card-body">

                    <!-- Row starts -->
                    <div class="row gx-3">
                      <div class="col-xxl-6 col-sm-12 col-12">
                        <div class="d-flex align-items-start gap-3 flex-wrap">
                          <img src="{% static 'images/doctors/14.jpg' %}" class="mw-240 rounded-2" alt="Medical Dashboard">
                          <div class="">
                            <span class="badge bg-primary-subtle text-primary"><i
                                class="ri-circle-fill me-1"></i>Available</span>
                            <p class="mb-1 mt-2">Good Morning,</p>
                            <p class="fs-5 fw-semibold">Dr. {{ doctor.first_name }} {{ doctor.last_name }}</p>
                            <p class="mb-1">Email: {{ doctor.email }}</p>
                            <p class="mb-1">Phone: {{ doctor.phone_number }}</p>
                            <p class="mb-1">Role: {{ doctor.get_role_type_display }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 col-sm-12 col-12">

                        <div class="h-100 border-start border-sm-none">
                          <div class="ps-4">
                            <div class="d-flex justify-content-between">
                              <div class="d-flex flex-row flex-wrap gap-2">
                                <div class="d-flex align-items-center">
                                  <div class="icon-box sm bg-primary-subtle rounded-5 me-2">
                                    <i class="ri-chat-1-line fs-5 text-primary"></i>
                                  </div>
                                  <div>
                                    Online Consultation Available
                                  </div>
                                </div>
                                <div class="d-flex align-items-center">
                                  <div class="icon-box sm bg-primary-subtle rounded-5 me-2">
                                    <i class="ri-building-2-line fs-5 text-primary"></i>
                                  </div>
                                  <div>
                                    Apollo Medicals & Hospital
                                  </div>
                                </div>
                                <div class="d-flex align-items-center">
                                  <div class="icon-box sm bg-primary-subtle rounded-5 me-2">
                                    <i class="ri-account-circle-line fs-5 text-primary"></i>
                                  </div>
                                  <div>
                                    <span class="fw-semibold text-primary">96%</span> Recommended
                                  </div>
                                </div>
                              </div>
                              <div class="d-flex flex-row gap-2">
                                <a href="%21.html#" class="icon-box xs icon-box-hover rounded-5">
                                  <i class="ri-star-line fs-6 text-primary"></i>
                                </a>
                                <a href="%21.html#" class="icon-box xs icon-box-hover rounded-5">
                                  <i class="ri-link-m fs-6 text-primary"></i>
                                </a>
                                <a href="%21.html#" class="icon-box xs icon-box-hover rounded-5">
                                  <i class="ri-share-line fs-6 text-primary"></i>
                                </a>
                              </div>
                            </div>
                            <div class="d-flex mt-3">
                              <div class="rating-stars">
                                <div class="readonly5"></div>
                              </div>
                              <span class="fw-bold fs-6 me-1">3690</span> Reviews
                            </div>
                            <div class="d-flex gap-1 mt-3">
                              <a href="#" class="btn btn-sm btn-secondary"><i class="ri-chat-1-line me-2"></i>Chat</a>
                              <a href="#" class="btn btn-sm btn-secondary"><i class="ri-headphone-line me-2"></i>Audio
                                Call</a>
                              <a href="#" class="btn btn-sm btn-secondary"><i class="ri-vidicon-line me-2"></i>Video
                                Call</a>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <!-- Row ends -->

                  </div>
                  <div class="card-footer border-top">
                    <div class="d-flex align-items-center flex-row flex-wrap gap-3">
                      <div class="d-flex align-items-center">
                        <div class="icon-box sm icon-box-hover rounded-5 me-2">
                          <i class="ri-building-2-line fs-5 text-primary"></i>
                        </div>
                        <div>
                          9 appointments today
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="icon-box sm icon-box-hover rounded-5 me-2">
                          <i class="ri-chat-1-line fs-5 text-primary"></i>
                        </div>
                        <div>
                          18 years in practice
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="icon-box sm icon-box-hover rounded-5 me-2">
                          <i class="ri-account-circle-line fs-5 text-primary"></i>
                        </div>
                        <div>
                          <span class="fw-bold text-primary">$150</span> consulting fee
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a href="book-appointment.html" class="btn btn-primary">
                          Book Appointment
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row ends -->

            <!-- Row starts -->
            <div class="row gx-3">
              <div class="col-xl-8 col-sm-12">

                <!-- Row starts -->
                <div class="row gx-3">
                  <div class="col-sm-12">
                    <div class="card mb-3">
                      <div class="card-header">
                        <h5 class="card-title">Bio</h5>
                      </div>
                      <div class="card-body pt-0">

                        <p>
                          Dr. Jessika Linda is an eminent Endocrinologist associated with med hospitals who is
                          specially
                          trained to diagnose diseases related to glands. She specialises in treating people
                          who suffer from hormonal imbalances, typically from glands in the endocrine system. The most
                          common conditions treated by Dr. Linda are Diabetes, Metabolic disorders, Lack of
                          growth, Osteoporosis, Thyroid diseases, Cancers of the endocrine glands, Over- or
                          under-production of hormones, Cholesterol disorders, Hypertension and Infertility. Also
                          available for consultation at Med hospital. Dr. Linda's approach lies in understanding
                          patients diseases and the procedure recommended along with care.</p>

                        <div class="">
                          <h6>Speciality</h6>
                          <div class="d-flex flex-wrap gap-2">
                            <span class="border border-primary p-2 lh-1 text-body rounded-1">Diabetes</span>
                            <span class="border border-primary p-2 lh-1 text-body rounded-1">Thyroid</span>
                            <span class="border border-primary p-2 lh-1 text-body rounded-1">Osteoporosis</span>
                            <span class="border border-primary p-2 lh-1 text-body rounded-1">Surgeon</span>
                            <span class="border border-primary p-2 lh-1 text-body rounded-1">General</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="card mb-3">
                      <div class="card-header">
                        <h5 class="card-title">Reviews</h5>
                      </div>
                      <div class="card-body">

                        <!-- Reviews starts -->
                        <div class="d-grid gap-5">
                          <div class="d-flex">
                            <img src="assets/images/patient1.png" class="img-4x rounded-2" alt="Medical Admin Template">
                            <div class="ms-3">
                              <span class="badge border border-primary text-primary mb-3">Excellent</span>
                              <h6>Wendi Combs</h6>
                              <p class="mb-2">I am consulting with her for last 10 years and she is really good in
                                thyroid. Her experience has greatest strength. By looking at the report she will
                                diagnosis the problem and listen to us. We might think she is in a hurry to complete
                                the
                                patient but her experience makes her 100%.</p>
                              <p><i class="ri-thumb-up-line"></i> I recommend the doctor.</p>
                              <div class="rating-stars">
                                <div class="readonly5"></div>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex">
                            <img src="assets/images/patient2.png" class="img-4x rounded-2" alt="Medical Admin Template">
                            <div class="ms-3">
                              <span class="badge border border-primary text-primary mb-3">Excellent</span>
                              <h6>Nick Morrow</h6>
                              <p class="mb-2">Dr.Jessika is my physician from past four years. Till now, whatever
                                treatment and advice she has given me is of the best kind. I am extremely satisfied
                                with
                                it. There may be about 10 minutes of waiting period before consultation. The hospital
                                and staff are good as well.</p>
                              <p><i class="ri-thumb-up-line"></i> I recommend the doctor.</p>
                              <div class="rating-stars">
                                <div class="readonly5"></div>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex">
                            <img src="assets/images/patient3.png" class="img-4x rounded-2" alt="Medical Admin Template">
                            <div class="ms-3">
                              <span class="badge border border-danger text-danger mb-3">Bad</span>
                              <h6>Carole Dodson</h6>
                              <p class="mb-2">Its a not recommerded example. Its a not recommerded example. Its a not
                                recommerded example. Its a not recommerded example.
                              </p>
                              <p><i class="ri-thumb-down-line"></i> I do not recommend the doctor.</p>
                              <div class="rating-stars">
                                <div class="readonly2"></div>
                              </div>
                            </div>
                          </div>
                          <div class="d-grid">
                            <button class="btn btn-primary">Load More</button>
                          </div>
                        </div>
                        <!-- Reviews ends -->

                      </div>
                    </div>
                  </div>
                </div>
                <!-- Row ends -->

              </div>
              <div class="col-xl-4 col-sm-12">

                <!-- Row starts -->
                <div class="row gx-3">
                  <div class="col-xl-12 col-sm-6">
                    <div class="card mb-3">
                      <div class="card-header">
                        <h5 class="card-title">Avalibility</h5>
                      </div>
                      <div class="card-body pt-0">

                        <ul class="list-group mb-2">
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Monday
                            <span class="badge border border-success text-success">9:AM - 2:PM</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Tuesday
                            <span class="badge border border-success text-success">9:AM - 2:PM</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Wednesday
                            <span class="badge border border-success text-success">9:AM - 2:PM</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Thursday
                            <span class="badge border border-success text-success">9:AM - 2:PM</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Friday
                            <span class="badge border border-success text-success">9:AM - 2:PM</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Saturday
                            <span class="badge border border-success text-success">9:AM - 2:PM</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Sunday
                            <span class="badge border border-danger text-danger">Holiday</span>
                          </li>
                        </ul>

                        <a href="book-appointment.html" class="btn btn-primary">
                          Book Appointment
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-12 col-sm-6">
                    <div class="card mb-3">
                      <div class="card-header">
                        <h5 class="card-title">Awards</h5>
                      </div>
                      <div class="card-body">

                        <div>
                          <div id="carouselAwards" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselAwards" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselAwards" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselAwards" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner text-center">
                              <div class="carousel-item active" data-bs-interval="10000">
                                <img src="assets/images/award/award.svg" class="img-300" alt="Medical Templates">
                              </div>
                              <div class="carousel-item" data-bs-interval="5000">
                                <img src="assets/images/award/award1.svg" class="img-300" alt="Medical Templates">
                              </div>
                              <div class="carousel-item" data-bs-interval="2500">
                                <img src="assets/images/award/award2.svg" class="img-300" alt="Medical Templates">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselAwards"
                              data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselAwards"
                              data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </button>
                          </div>

                          <div class="text-center">
                            <h1 class="text-primary">3</h1>
                            Awards received in 2024.
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <!-- Row ends -->

              </div>
            </div>
            <!-- Row ends -->

          </div>
{% endblock content %}
